@import "tailwindcss";
@import 'leaflet/dist/leaflet.css';

@theme
{
    /* FONTS */
    --font-primary: "Gilroy", sans-serif;

    /* COLORS */

    /* Primary */
    --brand-green-white-bg: #06c167;
    --brand-green-dark-bg: #0ce578;
    --solid-black: #000;
    --solid-white: #fff;

    /* Secondary */
    --splash-orange: #ff6b06;
    --gray-eighty: #333;
    --gray-sixty: #666;
    --gray-ten: #e5e5e5;
    --gray-five: #f7f7f7;
}


/* Medium */
@font-face
{
    font-family: "Gilroy";
    src: url("/fonts/gilroy/Gilroy-Medium.woff2") format("woff2");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

/* Regular */
@font-face
{   
    font-family: "Gilroy";
    src: url("/fonts/gilroy/Gilroy-Regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

/* Light */
@font-face
{
    font-family: "Gilroy";
    src: url("/fonts/gilroy/Gilroy-Light.woff2") format("woff2");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

/* Bold */
@font-face
{
    font-family: "Gilroy";
    src: url("/fonts/gilroy/Gilroy-Bold.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

/* Heavy */
@font-face
{
    font-family: "Gilroy";
    src: url("/fonts/gilroy/Gilroy-Heavy.woff2") format("woff2");
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@layer base {
  h1, h2, h3, h4, h5, h6, button, a, small {
    font-family: "Gilroy", sans-serif;
    font-weight: 700;
  }

  p, .slide-counter-container {
    font-family: "Gilroy", sans-serif;
    font-weight: 500;
  }

  li {
    font-family: "Gilroy", sans-serif;
    font-weight: 600;
  }
}

/* Leaflet */
.leaflet-container
{
    height: 300px;
    width: 100%;
    border-radius: 5px;
}

.leaflet-popup-content-wrapper {
    background: transparent !important;
    box-shadow: none !important;
    border-radius: 5px !important;
    padding: 0 !important;
}

.leaflet-popup-content {
    margin: 0 !important;
}

.leaflet-popup-tip-container {
    display: none !important;
}

.leaflet-popup-close-button {
    display: none !important; /* Hide the native × button */
}

.leaflet-popup-content h1,
.leaflet-popup-content h2,
.leaflet-popup-content h3,
.leaflet-popup-content h4 {
    font-size: revert;
    font-weight: revert;
}

.leaflet-popup-content p {
    margin: 0;
}

.leaflet-popup-content-wrapper {
    width: fit-content !important;
}

.leaflet-popup-content p, small {
    font-size: revert;
}

.leaflet-popup-content a {
    color: inherit !important;
}

.leaflet-marker-icon.marker-cluster.marker-cluster-small.leaflet-zoom-animated.leaflet-interactive
{
    font-family: var(--font-primary) !important;
    color: var(--solid-white) !important;
    background-color: var(--brand-green-dark-bg) !important;
}